@media (max-width: 420px) {
    .sidebar {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
    }
    .sidebar li.profile {
        left: -100%;
    }
    .sidebar.open li.profile{
        left: 0;
    }
    .sidebar.open { /* Nav ouverture */
        width: 100%;
        left: 0;
        z-index: 999;
    }

    .sidebar.open~.contenu {
        width: 0;
    }

    .sidebar li .tooltip{
      display: none;
    }

    .contenu {
        display: flex;
        justify-content: center;
    }
  }
